a.out
*.dSYM
*.o
*.a
*.lo
*.la

.libs
.deps
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
libtool

src/test-shell
src/test-command-shell

src/horus-key
src/horus-kds

horus-*.tar.gz
